.bannerDiv{
    display: flex;
    justify-content: space-between;
    background-color: #BFB9FF;
    width: 100%;
    height: 700px;
    padding: 100px 110px;
    border-bottom: 3px solid white;
}

/* ----------------------------------------------------------------------------------------------------- */

#banner-title{
    font-size: 65px;
    color: black;
}

#banner-text{
    font-size: 20px;
}

.bannerWords{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    gap: 25px;
    margin-top: 100px;
}

.bannerImages{
    display: flex;
}

#banner-image-1{
    margin-top: 100px;
}

/* ----------------------------------------------------------------------------------------------------- */

.productsDiv{
    background-color: #ffffff;
    width: 100%;
    height: 2250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product{
    display: flex;
    gap: 50px;
}

.productInformations{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    gap: 30px;
    text-align: left;
    margin-top: 80px;
}

/* ----------------------------------------------------------------------------------------------------- */

#potion-effect{
    color: black;
}

#value{
    color: #F2BD1D;
    font-size: 30px;
    
}

/* ----------------------------------------------------------------------------------------------------- */

#banner-button{
    position: relative;
    display: inline-block;
}

#acquired-button-content{
    display: none;
    margin-top: 10px;
    width: 115px;
    height: 100px;
    position: absolute;
    background-color: #000000;
}

#acquired-button-content-img{
    width: 115px;
    height: 100px;
    cursor: url("../images/AC-Pointer.cur"), pointer;
}