/* Código para mexer na aparência dos elementos do FOOTER. */

#links{
    color: #edf0f1;
    text-decoration: none;
}

#titleLinks{
    color: #F2BD1D;
    font-size: 20px;
}

#nameFooter{
    color: #F2BD1D;
}

.nav2__links{
    list-style: none;
    display: flex;
    flex-direction: column;
}

#links{
    transition: all 0.3s ease 0s;
}

#links:hover{
    color: #05FFA1;
}