/* Header Config Space */

/* Header Divs */

header{
    border-bottom: 3px solid black;
    width: 100%;
}

.headerContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 30px;
    gap: 15px;
}

#logoDiv{
    /*border: 3px solid black;*/
    width: 110px;
    height: 110px;
    margin-top: 27px;
}

#textDiv{
    /*border: 3px solid black;*/
    width: 200px;
    height: 110px;
}

/*----------------------------------------------------------------------------*/

/* Header Elements */

#logo{
    width: 100px;
    height: 100px;
}

/*----------------------------------------------------------------------------*/

/* Nav Config Space */

nav{
    display: flex;
    justify-items: start;
    border-bottom: 3px solid black;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 15px;
    overflow: hidden;
}

/*----------------------------------------------------------------------------*/

/* Body Config Space */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    border: 3px solid black;
    width: 1300px;
    height: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*----------------------------------------------------------------------------*/

/* Footer Config Space */

.footerContainer{
    border-top: 3px solid black;
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 1100px;
}

#logo-slogan{
    display: flex;
}

#usefulLinks{
    display: flex;
    flex-direction: column;
}

#credit{
    display: flex;
    justify-content: center;
}

/* Footer Elements */

#logoFooter{
    width: 70px;
    height: 70px;
    margin-top: 17px;
}